@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-primary: #709F6E;
    --color-primary-hover: #447C3A;
    --color-secondary:#FFF6E9;
    --color-secondary-dark: #404A55;
    --color-SMwhite: #5F825C;  
    --font-primary: 'M PLUS Code Latin';
    --font-secondary: 'Mohave';

    
    --animate-open-window: open-window 2s ease-in-out;
    @keyframes open-window {
        0% {
            height: 0;
        }
        100% {
            height: 100%;
        }
    }

}

.body {
    font-family: 'Mohave';
}
