@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-primary: #709F6E;
    --color-primary-hover: #447C3A;
    --color-secondary:#FFF6E9;
    --color-SMwhite: #5F825C;  
    --font-primary: 'M PLUS Code Latin';
    --font-secondary: 'Mohave';
}

.body {
    font-family: 'Mohave';
}
